body {
  background: url('./img/normal.jpg');
  background-size: 10vw;
  text-align: center;
}

.goofy {
  max-width: 75vmin;
}

.goofyahtext {
  width: fit-content;
  background: white;
  margin: .5em auto;
  padding: 5px;
}
