doctype html
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// #(////(#(///////((/////###(///%#(/*,//(%#((/#*##((*(((//**((
// #(/////((///////((/////(##(///%%(/**//(%#(((#*##((,(((//,/(/
// ##/////(((//////((////*(##////%#(/**/*(%#(/##*##((,(((//,((/
// ##/////(((//////(#////*(##////%#(/**(*(%#(/%#*##((,((///,((/
// ##/////(((//////((/////(##(///%#(/**#*#%#(/%#*##((*((///,((/
// (#(////(#(//////((////*(##////%#(/**#*#%#(/&#*##((*((//**((/
// (#(/////#(///////#(////(##***,(/(///#*#%#(/&#*##(//((//,/(//
// (##//*//((///////#(/*,,*..      ..//((%%#(/&#*##(//((//,((//
// /##//**/((///////,......         .  ..,,//(&#*##(/(((//,((//
// /(#(////((////,.....,....... .......,,.....,(*##(/(((//*((//
// /(#(/////((/,..,(&@@@@&(***,,,..*//((%@@@&%/,,*((*#(//*/((//
// /(##//**/((...*@@@%@@@@@@/*,.,,*/(#@@@@@@@@@%/,.**#(//*(((//
// //##/////((...*@@@@@@@@@@@....,*/(@@@@@@@@@@@(*,.*((//*((///
// //##/////((....(@@@@@@@@@(.....,*/@@@@@@@@@@%,,,.,((//*((//*
// //(#(////((,......#&@@(.........,,***&@@@%,,,,,,.*((/*/((//*
// //(#(////((,...,..............,.**,,,,,,,*****,..((//*/#///*
// //(#(//*/(/. ..,*,,..........,,****,,*****//**,../((//((((/(
// //(###((##(/.....,*....,,,**/((//////******/**,.*///////////
// ///((((///(/........,,**/(((%%%#((((///**/*,*,,************,
// ////*/*/***,..........,,*/((((((((///////**,,..,**********,,
// ///*******,.  .. ......,,,*/////////////***,....***,,****,,,
// */*********.    ......,,,,,*****//////****,,,...*,,,,***,,,,
// */********,.   .  ......,,*,,,*,*/*******,,,,...,,,,.... ...
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 
// I'M INSIDE YOUR COMPUTER 

html(lang='en')
  block head
    block meta
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
    block styles
      link(rel='stylesheet' href='./style.css')
    block icons
      link(rel='icon' href='/favicon.ico' type='image/x-icon')
      link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
      link(rel='manifest' href='/site.webmanifest')
    block title
      title My Website
  block body
    body
